# Libraries

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Data import and cleaning
### Check if columns are the same in all files

In [2]:
starting_month = 7
starting_year = 2020
n_files = 12

for i in range(n_files):
    month = (starting_month + i) % 12 + 1
    year = starting_year + ((starting_month + i) // 12)
    month = str(month)
    if len(month) < 2:
        month = "0" + month
    else:
        pass
#     print(f"{year}{month}-divvy-tripdata.csv")
    df_temp = pd.read_parquet(f"data/{year}{month}-divvy-tripdata.parquet")
    print("file", i+1, "columns:", df_temp.columns.tolist())

file 1 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 2 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 3 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 4 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 5 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 6 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 7 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 8 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 9 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 10 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 11 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']
file 12 columns: ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']

All columns are the same which means that the data can be concatenated.
### Concatenate files

In [3]:
df_bikes = pd.DataFrame()

for i in range(n_files):
    month = (starting_month + i) % 12 + 1
    year = starting_year + ((starting_month + i) // 12)
    month = str(month)
    if len(month) < 2:
        month = "0" + month
    else:
        pass
    df_temp = pd.read_parquet(f"data/{year}{month}-divvy-tripdata.parquet")
    df_bikes = pd.concat([df_bikes, df_temp])

In [4]:
df_bikes.shape

(4731081, 13)

In [5]:
df_bikes.sample(10, random_state=13)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
33528,3C16D8BC4D6894CE,electric_bike,2021-07-24 09:55:19,2021-07-24 09:55:47,Canal St & Madison St,13341,Canal St & Madison St,13341,41.882072,-87.639386,41.882150,-87.639156,member
304344,DCB876DF502C68AA,docked_bike,2020-08-11 13:48:25,2020-08-11 15:19:10,Kimbark Ave & 53rd St,322,Shore Dr & 55th St,247,41.799568,-87.594747,41.795212,-87.580715,casual
197675,EFE0D8D3A282291C,docked_bike,2020-08-06 01:59:01,2020-08-06 03:05:17,State St & Pearson St,106,State St & Pearson St,106,41.897448,-87.628722,41.897448,-87.628722,casual
260772,D66AEC78E3794794,classic_bike,2021-05-28 16:02:42,2021-05-28 16:14:49,Pine Grove Ave & Irving Park Rd,TA1308000022,None,None,41.954383,-87.648043,41.930000,-87.650000,member
249706,39377351D9F9054E,docked_bike,2020-08-21 13:58:03,2020-08-21 14:58:16,Dearborn Pkwy & Delaware Pl,140,Marshfield Ave & Cortland St,58,41.898969,-87.629912,41.916017,-87.668879,casual
62681,C8ECE8A3E55D6EE1,classic_bike,2021-06-08 17:36:32,2021-06-08 17:52:05,Lake Shore Dr & North Blvd,LF-005,Lake Shore Dr & Diversey Pkwy,TA1309000039,41.911722,-87.626804,41.932588,-87.636427,member
200283,D77583F473B31093,docked_bike,2020-11-08 12:59:28,2020-11-08 13:21:32,Lake Shore Dr & North Blvd,268,Daley Center Plaza,81,41.911722,-87.626804,41.884241,-87.629634,member
403103,728E276DAFC527E2,docked_bike,2020-08-28 13:22:11,2020-08-28 13:37:17,Marine Dr & Ainslie St,465,Broadway & Barry Ave,300,41.971600,-87.650154,41.937582,-87.644098,member
337784,AF1A1437283C13F7,docked_bike,2020-08-16 18:29:18,2020-08-16 18:48:16,Lakefront Trail & Wilson Ave,639,Broadway & Belmont Ave,296,41.965845,-87.645361,41.940106,-87.645451,member
141872,43E520A3DC7FB5D7,electric_bike,2021-06-15 21:21:48,2021-06-15 21:24:46,Southport Ave & Roscoe St,13071,Ashland Ave & Grace St,13319,41.943690,-87.664096,41.950587,-87.668394,member

In [6]:
df_bikes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4731081 entries, 0 to 822409
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 505.3+ MB

In [7]:
df_bikes.isna().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    369182
start_station_id      369804
end_station_name      407300
end_station_id        407759
start_lat                  0
start_lng                  0
end_lat                 5247
end_lng                 5247
member_casual              0
dtype: int64

It seems as though there are some missing values in case of stateio_id columns, however, it is possible that this is due to the fact that the user didn't leave the bike in a station but in open field. It is possible that this is also the case for the latitude and logitude columns. Because this is not the topic of this analysis, this will not be explored further.

Sadly we don't have a unique identifier for each user which means that we can't complete an analysis which would be of great importance. If there were a unique ID in the data, it would allow for calculating the sum of rides each user has completed during the year and perhaps find a target for advertising to convert from casual riders to annual members. This is most important as according to the [divvy website](https://www.divvybikes.com/pricing) a single ride costs 3.30 dollars and an annual membership costs 108 dollars.

A few problems which need to be addressed:
- the ```started_at``` and ```ended_at``` columns have to be converted to datetime

To be done:
- check what are unique values for the ```member_casual``` column. Make sure that there are only 2
- calculate length of each ride
- calculate summary statistics for both ```member_casual``` types
- see if there are any trends

In [9]:
df_bikes_cleaned = df_bikes.copy()

df_bikes_cleaned["started_at"] = pd.to_datetime(df_bikes_cleaned["started_at"].str.strip(), errors="coerce")
df_bikes_cleaned["ended_at"] = pd.to_datetime(df_bikes_cleaned["ended_at"].str.strip(), errors="coerce")

Double-check results

In [11]:
df_bikes_cleaned[["started_at", "ended_at"]].isna().sum()

started_at    0
ended_at      0
dtype: int64

In [61]:
df_bikes_cleaned[["started_at", "ended_at"]].sample(10, random_state=13)

                started_at            ended_at
33528  2021-07-24 09:55:19 2021-07-24 09:55:47
304344 2020-08-11 13:48:25 2020-08-11 15:19:10
197675 2020-08-06 01:59:01 2020-08-06 03:05:17
260772 2021-05-28 16:02:42 2021-05-28 16:14:49
249706 2020-08-21 13:58:03 2020-08-21 14:58:16
62681  2021-06-08 17:36:32 2021-06-08 17:52:05
200283 2020-11-08 12:59:28 2020-11-08 13:21:32
403103 2020-08-28 13:22:11 2020-08-28 13:37:17
337784 2020-08-16 18:29:18 2020-08-16 18:48:16
141872 2021-06-15 21:21:48 2021-06-15 21:24:46

In [12]:
df_bikes[["started_at", "ended_at"]].sample(10, random_state=13)

                 started_at             ended_at
33528   2021-07-24 09:55:19  2021-07-24 09:55:47
304344  2020-08-11 13:48:25  2020-08-11 15:19:10
197675  2020-08-06 01:59:01  2020-08-06 03:05:17
260772  2021-05-28 16:02:42  2021-05-28 16:14:49
249706  2020-08-21 13:58:03  2020-08-21 14:58:16
62681   2021-06-08 17:36:32  2021-06-08 17:52:05
200283  2020-11-08 12:59:28  2020-11-08 13:21:32
403103  2020-08-28 13:22:11  2020-08-28 13:37:17
337784  2020-08-16 18:29:18  2020-08-16 18:48:16
141872  2021-06-15 21:21:48  2021-06-15 21:24:46

In [13]:
df_bikes_cleaned["ride_duration"] = df_bikes_cleaned["ended_at"] - df_bikes_cleaned["started_at"]

In [26]:
df_bikes_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4731081 entries, 0 to 822409
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  ride_duration       timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), object(7), timedelta64[ns](1)
memory usage: 541.4+ MB

In [18]:
df_bikes_cleaned["member_casual"].unique()

array(['member', 'casual'], dtype=object)

In [19]:
df_bikes_cleaned["rideable_type"].unique()

array(['docked_bike', 'electric_bike', 'classic_bike'], dtype=object)

In [25]:
test = df_bikes_cleaned.groupby(["member_casual"])["ride_duration"].mean()

dropped['new'] = dropped['diff'].values.astype(np.int64)

means = dropped.groupby('bank').mean()
means['new'] = pd.to_timedelta(means['new'])

std = dropped.groupby('bank').std()
std['new'] = pd.to_timedelta(std['new'])

DataError: No numeric types to aggregate

In [24]:
test

               start_lat  start_lng    end_lat    end_lng
member_casual
casual         41.901807 -87.642892  41.902226 -87.643172
member         41.903879 -87.646317  41.904086 -87.646524